{:aliases
 {:default-options {:jvm-opts ["-Duser.language=en" "-Duser.country=US"]}
  :depstar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.193"}}
            :ns-default hf.depstar
            :exec-args {}}
  :dev {:jvm-opts ["-XX:-OmitStackTraceInFastThrow"]
        :extra-deps {nubank/matcher-combinators {:mvn/version "3.1.4"}
                     lambdaisland/kaocha {:mvn/version "1.0-612"}
                     elle/elle {:mvn/version "0.1.2"}
                     ;; `unilog` is needed by `elle`.
                     spootnik/unilog {:mvn/version "0.7.24"}

                     ;; For implementation apps.
                     cheshire/cheshire {:mvn/version "5.10.1"}
                     metosin/reitit {:mvn/version "0.5.13"}
                     integrant/integrant {:mvn/version "0.8.0"}
                     ring/ring {:mvn/version "1.9.4"}
                     com.github.seancorfield/next.jdbc {:mvn/version "1.2.674"}
                     http-kit/http-kit {:mvn/version "2.5.3"}
                     org.postgresql/postgresql {:mvn/version "42.2.23"}
                     clj-http/clj-http {:mvn/version "3.12.3"}
                     clj-http-fake/clj-http-fake {:mvn/version "1.0.3"}
                     com.github.seancorfield/honeysql {:mvn/version "2.0.0-rc5"}
                     metosin/muuntaja {:mvn/version "0.6.8"}
                     io.github.pfeodrippe/dev-tooling {:mvn/version "1.0.57"}
                     org.clojure/core.logic {:mvn/version "1.0.1"}}
        :extra-paths ["test" "notebooks"]}
  :test {:jvm-opts ["-XX:-OmitStackTraceInFastThrow"]
         :extra-deps {nubank/matcher-combinators {:mvn/version "3.1.4"}
                      lambdaisland/kaocha {:mvn/version "1.0-612"}
                      elle/elle {:mvn/version "0.1.2"}
                      ;; `unilog` is needed by `elle`.
                      spootnik/unilog {:mvn/version "0.7.24"}

                      ;; For implementation apps.
                      cheshire/cheshire {:mvn/version "5.10.1"}
                      metosin/reitit {:mvn/version "0.5.13"}
                      integrant/integrant {:mvn/version "0.8.0"}
                      ring/ring {:mvn/version "1.9.4"}
                      com.github.seancorfield/next.jdbc {:mvn/version "1.2.674"}
                      http-kit/http-kit {:mvn/version "2.5.3"}
                      org.postgresql/postgresql {:mvn/version "42.2.23"}
                      clj-http/clj-http {:mvn/version "3.12.3"}
                      clj-http-fake/clj-http-fake {:mvn/version "1.0.3"}
                      com.github.seancorfield/honeysql {:mvn/version "2.0.0-rc5"}
                      metosin/muuntaja {:mvn/version "0.6.8"}
                      io.github.pfeodrippe/dev-tooling {:mvn/version "1.0.57"}
                      org.clojure/core.logic {:mvn/version "1.0.1"}}
         :extra-paths ["test"]
         :main-opts   ["-m" "kaocha.runner"]}}

 :deps
 {babashka/process {:mvn/version "0.4.14"}
  medley/medley {:mvn/version "1.3.0"}
  lambdaisland/deep-diff2 {:mvn/version "2.0.108"}
  pfeodrippe/tla-edn {:mvn/version "0.14.0"}
  alandipert/interpol8 {:mvn/version "0.0.3"}
  metosin/malli {:mvn/version "0.10.1"}
  quil/quil {:mvn/version "3.1.0"}
  com.cognitect/transit-clj {:mvn/version "1.0.324"}
  pfeodrippe/arrudeia {:mvn/version "0.11.0-SNAPSHOT"}
  com.taoensso/tufte {:mvn/version "2.4.5"}
  potemkin/potemkin {:mvn/version "0.4.6"}
  org.clj-commons/claypoole {:mvn/version "1.2.2"}
  com.taoensso/nippy {:mvn/version "3.2.0"}
  org.clojure/core.async {:mvn/version "1.6.673"}}

 :paths ["src" "classes"]}
