{:aliases
 {:default-options
  {:jvm-opts ["-Duser.language=en" "-Duser.country=US"]}

  :depstar {:replace-deps
            {com.github.seancorfield/depstar {:mvn/version "2.0.193"}}
            :ns-default hf.depstar
            :exec-args {}}
  :dev {:extra-paths ["test"]}
  :test {:extra-deps {lambdaisland/kaocha {:mvn/version "1.0-612"}}
         :extra-paths ["test"]
         :main-opts   ["-m" "kaocha.runner"]}}

 :deps
 {alloy/alloy {:local/root "jars/org.alloytools.alloy.dist.jar"}
  medley/medley {:mvn/version "1.3.0"}
  lambdaisland/deep-diff2 {:mvn/version "2.0.108"}}

 :paths ["src"]}
