{:linters
 {:unresolved-symbol
  {:exclude [match?]}}

 :lint-as {recife.core/defproc clojure.core/def
           recife.core/definvariant clojure.core/def
           recife.core/defproperty clojure.core/def
           recife.core/defconstraint clojure.core/def
           recife.helpers/defproperty clojure.core/defn
           recife.helpers/deffairness clojure.core/defn
           recife.helpers/definvariant clojure.core/defn
           recife.helpers/defchecker clojure.core/defn
           recife.helpers/defconstraint clojure.core/defn
           recife.helpers/defaction-constraint clojure.core/defn
           recife.helpers/defaction-property clojure.core/defn
           recife.helpers/for-all clojure.core/let
           recife.helpers/for-some clojure.core/let}}
